<div class="cowboy-health-counter">
  <div class="cowboy-cylinder">
    {{#range 1 6 actor}}
    <div class="cowboy-slot">
      {{#if (gt index system.cartridge)}}
      <input type="checkbox" disabled="true" checked id="slot{{ index }}" />
      {{else}}
      <input type="checkbox" disabled="true" id="slot{{ index }}" />
      {{/if}}
    </div>
    {{/range}}
  </div>
  <div class="cowboy-health-action">
    {{#if (and isGM (lt actor.system.cartridge 6))}}
    <button class="cowboy-health-action-button" type="button" data-value="1">
      Heal
    </button>
    {{/if}}
    {{#if (gt actor.system.cartridge 0)}}
    <button class="cowboy-health-action-button" type="button" data-value="-1">
      Damage
    </button>
    {{/if}}
  </div>
</div>
