<div class="cowboy-actor-counters">
  <div class="cowboy-actor-counter">
    <i class="fa-solid fa-guitar cowboy-rythme"></i>
    <div class="cowboy-actor-counter-value">
      {{ actor.system.rythme }}
    </div>
  </div>
  <div class="cowboy-actor-counter">
    <i class="fa-solid fa-music cowboy-carton"></i>
    <div class="cowboy-actor-counter-value">
      {{ actor.system.cartons }}
    </div>
  </div>
</div>
