@import "./actor/health-counter.scss";

.dice-tooltip .part-total.success {
  color: #18520b;
  background-color: #7ca9719a;
}

.cowboy-health {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.cowboy-actor-trait-cat-header {
  display: flex;
  margin: 0;
}

.cowboy-actor-trait-cat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;

  .cowboy-actor-trait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
