@import "./actor/health-counter.scss";

.cowboy-carton {
  color: #18520b;
  background-color: #7ca9719a;
  padding: 0.3rem;
  border-radius: 50%;
}
.cowboy-note {
  color: #aa0200;
  background-color: #d98887bb;
  padding: 0.3rem;
  border-radius: 50%;
}

.dice-tooltip .part-total.success {
  color: #18520b;
  background-color: #7ca9719a;
}

.cowboy-health {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.cowboy-actor-trait-cat-header {
  display: flex;
  margin: 0;
}

.cowboy-actor-trait-cat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;

  .cowboy-actor-trait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
