@import "./prime/tokens.scss";

.cowboy-prime-cadrans-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin-top: 0.4em;
}

.cowboy-dials-group-label {
  font-size: 0.85em;
  opacity: 0.8;
}

.cowboy-prime-header-selects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin-left: 1em;
  margin-right: 1em;
}

.cowboy-prime-selected {
  background-color: #0dcaca35;
}
