@import "./actor.scss";
@import "./prime.scss";
@import "./riffs.scss";
@import "./clean.scss";
@import "./roll.scss";
@import "./slice-dialog.scss";

.window-app .window-content section.module-dog-picture-container {
  flex: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;

  .module-dog-placeholder {
    font-size: 200px;
  }

  img.module-dog-image {
    object-fit: contain;
    border: none;
  }
}
