@import "../counter-box.scss";

.cowboy-actor-tokens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5em;

  .cowboy-actor-token-label {
    font-weight: bold;
  }

  .cowboy-actor-token-pool {
    display: flex;
    align-items: center;

    > button {
      @include cowboy-counter-button;
    }
  }

  .cowboy-prime-tokens-add {
    width: auto;
  }

  .cowboy-actor-token {
    @include cowboy-counter-box;

    &.cowboy-notes {
      color: #aa0200;
      background-color: #d98887bb;
    }

    &.cowboy-cartons {
      color: #18520b;
      background-color: #7ca9719a;
    }
  }
}
