.cowboy-actor-tokens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5em;
  .cowboy-actor-token-selected {
    border: 2px solid #0dcaca;
    border-radius: 0.2em;
    background-color: #0dcaca35 !important;
  }
  .cowboy-prime-tokens-add {
    width: auto;
  }

  .cowboy-actor-token {
    &.cowboy-notes {
      background-color: #ca590d35;
    }

    &.cowboy-cartons {
      background-color: #20ca0d35;
    }
  }
}
