<div class="dice-roll">
  <div class="dice-result">
    {{!--
    <div class="dice-formula">5d6dl</div>
    --}}
    <div class="dice-tooltip expanded" style="display: block">
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula">{{ result.formula }}</span>

            <span
              class="part-total {{#if (gte result.total mouvement.difficulty)}}success{{/if}}"
              >{{ result.total }}/{{ mouvement.difficulty }}</span
            >
          </header>
          <ol class="dice-rolls">
            {{#each result.terms as |term|}}
            {{#each term.results as |dice key|}}
            <li
              class="roll die d6 
              {{#if discarded }}
              discarded
              {{/if}}
              {{#if (eq dice.result 1)}}min{{/if}}
              {{#if (eq dice.result 6)}}max{{/if}}
              "
            >
              {{ dice.result }}
            </li>

            {{/each}}
            {{/each}}
          </ol>
        </div>
      </section>
    </div>

    <h4 class="dice-total">
      {{#range 1 carton mouvement}}
      <i class="fa-solid fa-music cowboy-carton"></i>
      {{/range}}
      {{#range 1 notes mouvement}}
      <i class="fa-solid fa-record-vinyl cowboy-note"></i>
      {{/range}}
    </h4>
  </div>
</div>
